<style>
form {display: inline;}
</style>

<h3>Contacts</h3>
<ul>
  <% @contacts.each do |contact| %>
  <li>
    <%= contact.id %> -
    <%= contact.email  %>
    <a href="/contacts/<%= contact.id %>">Show</a>
    <a href="contacts/<%= contact.id %>/edit">Edit</a>
    <%= erb :'contacts/_delete', layout: false, locals: { contact: contact } %>
  </li>
    <% end %>
</ul>
